.navbar {
  width: 100%;
  position: relative;
}

.navbar-top-container {
  background-color: #1a1817;
}

.navbar-top {
  padding: 15px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1348px;
  margin: 0 auto;
  height: 48px;
}

.navbar-top__news {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
}

.navbar-top__news__badge {
  background-color: var(--primary-signal);
  padding: 4px 5px;
  font-family: var(--mono);
  font-size: 12px;
  letter-spacing: 8%;
  line-height: 100%;
  border-radius: 1px;
  color: var(--primary-pitch);
  text-transform: uppercase;
}

.navbar-top__news__text {
  color: var(--primary-ash-5);
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1%;
  font-weight: 440;
}

.navbar-top__links {
  display: flex;
  gap: 35px;
}

.navbar-top__links a {
  color: var(--primary-white);
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1%;
  line-height: 100%;
  font-weight: 440;
}

.navbar-bottom-container {
  background-color: var(--primary-pitch);
}

.navbar-bottom {
  display: flex;
  align-items: center;
  padding: 22px 18px;
  justify-content: space-between;
  max-width: 1348px;
  margin: 0 auto;
  width: 100%;
  height: 83px;
}

.navbar-bottom__links {
  display: flex;
  align-items: center;
  gap: 48px;
}

.navbar-bottom__links__logo {
  display: flex;
  align-items: center;
}

.navbar-bottom__links__items {
  display: flex;
  gap: 32px;
}

.navbar-bottom__links__items a {
  color: var(--primary-white);
  text-decoration: none;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 1%;
  font-weight: 460;
}

.navbar-bottom__ctas {
  display: flex;
  gap: 8px;
}

.navbar-bottom__hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.navbar-mobile {
  display: none;
  height: calc(-131px + 100vh);
  position: fixed;
  left: 0;
  right: 0;
  top: 131px;
  background-color: var(--primary-pitch);
  z-index: 10;
  padding: 0 18px;
}

.navbar-mobile--open {
  display: block;
}

.navbar-mobile__links {
  display: flex;
  flex-direction: column;
}

.navbar-mobile__links a {
  color: var(--primary-white);
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1%;
  line-height: 100%;
  padding: 18px 0;
  border-bottom: 1px solid var(--primary-ash-80);
}

.navbar-mobile__ctas {
  display: flex;
  gap: 8px;
  margin-top: 32px;
}

.navbar-mobile__links--bottom {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 32px;
}

.navbar-mobile__links--bottom a {
  color: var(--primary-white);
  text-decoration: none;
  font-size: 16px;
  line-height: 100%;
}

@media screen and (min-width: 993px) {
  .navbar-mobile {
    display: none;
  }

  .navbar-bottom__hamburger {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .navbar-top__links {
    display: none;
  }

  .navbar-bottom__links__items {
    display: none;
  }

  .navbar-bottom__ctas {
    display: none;
  }

  .navbar-bottom__hamburger {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .navbar-mobile__ctas {
    flex-direction: column;
  }

  .navbar-mobile__ctas .button {
    width: 100%;
  }
}
